langchain
langgraph
langchain_community

langgraph
langchain_openai
pypdf
cryptography


# For postgres
langgraph-checkpoint-postgres
langchain-postgres
pgvector<0.4




# supabase
supabase
sqlalchemy
psycopg2-binary


# Web framework
fastapi
python-multipart   #FastAPI requires python-multipart to handle file uploads (UploadFile, form-data requests, etc.),
pydantic
uvicorn
python-multipart
python-jose
aiofiles

# Environment variables
dotenv
ipykernel



