#FastAPI
fastapi
uvicorn
python-multipart
sse-starlette
starlette

#LangChain & LangGraph
langchain
langchain-core
langchain-openai
langchain-community
langchain-text-splitters
langchain-postgres
langgraph
langgraph-checkpoint
langgraph-checkpoint-postgres
pypdf

#Database
SQLAlchemy
psycopg2-binary
supabase

#Auth
PyJWT
Authlib
httpx
cryptography

#AI / Embeddings
openai
tiktoken

#Audio
gTTS
pydub

#Utilities
python-dotenv
aiofiles
tenacity
tqdm
pydantic
pydantic-settings
beautifulsoup4
rank-bm25
